<section class="section">
	<div class="container">
		<nav class="level">
		  <!-- Left side -->
		  <div class="level-left">
		    <p class="level-item">
		        <strong><%= @event.name %>, Date: <%= @event.date_time%></strong>
		    </p>
		  </div>
		</nav>
		<hr/>

		<div class="content">
			<h3>Event description:</h3>
			<%= @event.description %>
		</div>
	</div>
</section>

<section class="section comments">
	<div class="container">
		<% @arr.each do |ticket| %>
			<h2 class="subtitle is-5"><strong>Ticket type: <%= ticket[0].ticket_type %>, amount: <%= ticket[1] %></strong> tickets left </h2>
		<% end %>
		<%= link_to "Order ticket", new_event_order_path(params[:id]), class: "button is-primary" %>
	</div>
</section>