<div class="section">
	<div class="container">
		<% if flash[:success] != nil && flash[:success].count > 0 %>
			<% flash[:success].each do |n| %>
				<%= flash[:success] = n %>
			<% end %>
		<% end %>
		<% if flash[:alert] != nil && flash[:alert].count > 0 %>
			<% flash[:alert].each do |a| %>
				<%= flash[:alert] = a %>
			<% end %>
		<% end %>

		<% current_user.orders.each do |order| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4">Order for event: <%= order.ticket.event.name %>, bill: <%= order.bill %></p>
		        <% unless order.multiple_tickets_amount == ""%>
		        	<p>Multiple tickets: <%= order.multiple_tickets_amount %></br>Status: <%= order.state %></p>
		        	<% unless order.state == "paid" || order.state == "expired"%>
		        		<p>Pay: <%= link_to "pay for order", new_user_order_payment_path(current_user.id, order.id), class: "button is-danger" %></p>
		        	<% end %>
		        <% end %>
		        <% unless order.altogether_tickets_amount == ""%>
		        	<p>Altogether tickets: <%= order.altogether_tickets_amount %></br>Status: <%= order.state %></p>
		        	<% unless order.state == "paid" || order.state == "expired" %>
		        		<p>Pay: <%= link_to "pay for order", new_user_order_payment_path(current_user.id, order.id), class: "button is-danger" %></p>
		        	<% end %>
		        <% end %>
		        <% unless order.avoid_one_tickets_amount == ""%>
		        	<p>Avoid one tickets: <%= order.avoid_one_tickets_amount %></br>Status: <%= order.state %></p>
		        	<% unless order.state == "paid" || order.state == "expired" %>
		        		<p>Pay: <%= link_to "pay for order", new_user_order_payment_path(current_user.id, order.id), class: "button is-danger" %></p>
		        	<% end %>
		        <% end %>
		      </div>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>